In [8]:
import sqlite3

db = sqlite3.connect("name_database.db")

In [3]:
# create a database called name_database.db
# add one table to the database called names_table
# add columns to the database table: Id, first_name, last_name, age 
conn = sqlite3.connect('name_database.db')
cur = conn.cursor()
cur.execute("""CREATE TABLE IF NOT EXISTS names_table (
    Id INTEGER PRIMARY KEY AUTOINCREMENT,
    first_name text,
    last_name text,
    age integer
    )""")
conn.commit()

cur.close()
conn.close()
db.close()

In [4]:
conn = sqlite3.connect('name_database.db')
cur = conn.cursor()
cur.execute("INSERT INTO names_table VALUES(:Id, :first_name, :last_name, :age)",
              {'Id': None,
               'first_name': 'Gabriella',
               'last_name': 'Louise',
               'age': int(8)
              })
conn.commit()
cur.close()
conn.close()

In [5]:
conn = sqlite3.connect('name_database.db')
cur = conn.cursor()
cur.execute("SELECT first_name, last_name, age, MAX(rowid) FROM names_table")
record = cur.fetchone()
print(record)
cur.close()
conn.close()

('Gabriella', 'Louise', 8, 1)

In [6]:
conn = sqlite3.connect('name_database.db')
cur = conn.cursor()
cur.execute("INSERT INTO names_table VALUES(:Id, :first_name, :last_name, :age)",
              {'Id': None,
               'first_name': 'Maelle',
               'last_name': 'Levin',
               'age': int(5)
              })
conn.commit()
cur.close()
conn.close()

In [7]:
conn = sqlite3.connect('name_database.db')
cur = conn.cursor()
cur.execute("SELECT first_name, last_name, age, MAX(rowid) FROM names_table")
record = cur.fetchone()
print(record)
cur.close()
conn.close()

('Maelle', 'Levin', 5, 2)

### 网页使用

In [2]:
import sqlite3
import datetime
import pytz
import os

In [8]:
if not os.path.isfile('data.db'):
    conn = sqlite3.connect('data.db')
    c = conn.cursor()
    c.execute("""CREATE TABLE data (
        Id INTEGER PRIMARY KEY AUTOINCREMENT,
        API_key text,
        date_time text,
        mac text,
        field integer,
        data real
        )""")
    conn.commit()
    conn.close()

In [6]:
def date_save(api_key,mac,field,data):
    conn = sqlite3.connect('data.db')
    c = conn.cursor()
    t = datetime.datetime.now(tz=pytz.utc)
    date_time_str = t.isoformat()
    c.execute("INSERT INTO data VALUES(:Id, :API_key, :date_time, :mac, :field, :data)",
            {'Id': None, 'API_key': api_key, 'date_time': date_time_str, 'mac': mac, 'field': int(field),
            'data': round(float(data), 4)})
    conn.commit()
    c.close()
    conn.close()

In [7]:
# date_save('DTLZ3LBY','5m:ct:7f:3b:0d:a8',2,15.2)
date_save('DTLZ3LBY','5m:ct:7f:3b:0d:a8',3,15.2)
date_save('DTLZ3LBY','5m:ct:7f:3b:0d:a8',4,15.2)
date_save('DTLZ3LBY','5m:ct:7f:3b:0d:a8',5,15.2)

OperationalError: no such table: data

| rowid  | api_key|   mac  | field |   data |  
| ------ | ------ | ------ |------ | ------ |
|   1    |DTLZ3LBY|  |

In [78]:
# 查询
conn = sqlite3.connect('data.db')
c = conn.cursor()
max_id = c.execute("SELECT MAX(rowid) FROM data ").fetchone()
# sql = "SELECT data, date_time, field FROM data where rowid = %s"%(2)
# c.execute(sql)  #最新一条
c.execute("delete from data where rowid = 4")  #第一条
row1 = c.fetchone()
print(row1,max_id)

None (4,)

In [4]:
# 查询最新3条
def select_3data():
    tem = {}
    conn = sqlite3.connect('data.db')
    c = conn.cursor()
    max_id = c.execute("SELECT MAX(rowid) FROM data ").fetchone()[0]

    for i in range(3):
        sql = "SELECT data, date_time, field FROM data where rowid = %s"%(max_id-i)
        tem[i] = c.execute(sql).fetchone()  #最新一条
    return tem
select_3data()

OperationalError: no such table: data

KeyError: 0